/* 
    General Styles
*/
.carrusel {
  width: 350px;
  height: 500px;
}

.imgCharacters {
  width: 350px !important;
  height: 420px !important;
}

.imgPlanets {
  width: 350px !important;
  height: 350px !important;
  margin-top: 35px;
}

.imgStarShips {
  width: 350px !important;
  height: 270px !important;
  margin-top: 70px;
}

.cuerpo {
  background-color: black;
  /* background: url(https://cdn.wallpapersafari.com/6/76/p1PnTJ.png); */
  background: url(https://images.squarespace-cdn.com/content/v1/63ebb3f0b6f2ce5e1dd03634/0c678052-fb60-460f-a9ed-b13d7b703793/wep+website+assets-01.png?format=1000w);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.subrayado {
  text-decoration: none;
  background-color: rgba(19, 9, 1, 0.096);
}

.subrayado:hover {
  color: blue !important;
}

.subrayado:active {
  color: white !important;
}

.boton {
  background-color: rgba(19, 9, 1, 0.096);
  margin-right: 1vh;
  border: none;
  color: white;
  padding: 0;
  font-size: 3vh;
  cursor: pointer;
}

.boton:hover {
  color: red;
}

.boton:active {
  color: white;
}
